<div class="container-store">
  <h1>
    <%= @farms.title %><br>
    <%= @farms.address %><br>
    <%= @farms.hours %><br>
  </h1>
  <p class="description">
    <%= @farms.description %>
  </p>
  <p>
    <%= @farms.detail %>
  </p>
  <div class=img-size>
    <%= image_tag @farms.image.url(:large), class: 'img-size' %>
  </div>
  <br>

  <%= link_to "back", root_path, class: "btn btn-default" %>
  <%= link_to "edit", edit_farm_path, class: "btn btn-default" %>
  <%= link_to "delete", farm_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
</div>
