<div class="container">
  <h1>
    <%= @farms.address %><br>
    <%= @farms.hours %><br>
    <%= @farms.title %>
  </h1>
  <p class="description">
    <%= @farms.description %>
  </p>
  <p>
    <%= @farms.detail %>
  </p>
  <p>
    <%= image_tag @farms.image.url(:large) %>
  </p>

  <%= link_to "back", root_path, class: "btn btn-default" %>
  <%= link_to "edit", edit_farm_path, class: "btn btn-default" %>
  <%= link_to "delete", farm_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
</div>
