<!-- Page Content -->

<div class="backhome">
  <!-- <%= link_to 'Text to be linked', 'some_URL' %> -->
  <a href="/"><%= image_tag "back-arrow-2.png" %></a>
</div>

<div class="container-store">
  <h1>Rosewood Farms</h1>
  <div class="icons">
    <ul class="universal-inline-block">
      <li><%= image_tag "icons/eggs-icon.png" %></li>
      <li><%= image_tag "icons/meat-icon.png" %></li>
      <li><%= image_tag "icons/milk-icon.png" %></li>
      <li><%= image_tag "icons/veggie-icon.png" %></li>
      <li><%= image_tag "icons/seafood-icon.png" %></li>
      <li><%= image_tag "icons/honey-icon.png" %></li>
      <li><%= image_tag "icons/fruit-icon.png" %></li>

      <!-- <li><img src="assets/icons/meat-icon.png" class="icons-img"/></li>
      <li><img src="assets/icons/milk-icon.png" class="icons-img"/></li>
      <li><img src="assets/icons/veggie-icon.png" class="icons-img"/></li>
      <li><img src="assets/icons/seafood-icon.png" class="icons-img"/></li>
      <li><img src="assets/icons/honey-icon.png" class="icons-img"/></li>
      <li><img src="assets/icons/fruit-icon.png" class="icons-img"/></li> -->
    </ul>

    <h1>Our Story</h1>
    <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both.</p>

    <p>Chicken ground round pork loin, short loin tenderloin flank leberkas fatback filet mignon t-bone frankfurter shank shankle. Tail pastrami filet mignon turducken, prosciutto ball tip turkey frankfurter hamburger short loin flank biltong ground round. Cupim beef venison pork loin brisket. </p>

    <p>Sirloin shoulder jowl tri-tip leberkas pastrami hamburger tail turducken. Brisket ball tip drumstick pork belly kevin biltong, bresaola tail sirloin alcatra prosciutto chuck porchetta boudin. </p>

    <p>We are open</p>
    <p>Monday thru Satuday from 8am to 5pm</p>
    <p>No chemicals or pesticides. Grassfed animals</p>


    <%= image_tag("cow-image.jpg", class:"store-img") %>
    <%= image_tag("hand-peas.jpg", class:"store-img") %>
    <%= image_tag("egg-image.jpg", class:"store-img") %>
  </div>




</div>
<!-- /.container -->
