<!DOCTYPE html>
<html>
<head>
  <title>Farms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Page Content -->
  <div class="sidepanel">
    <div class="sidepanel-contain">
      <img src="../assets/bestfresh-logo.png" class="logo"/>
      <p class="sidepanel-text">Local Farming, Healthy Eating</p>
    </div>

  </div>

  <div class="sidepanel-top">
      <%= image_tag "best-fresh-logo-sm.png" %>
      <!-- <img src="assets/best-fresh-logo-sm.png" class="logo-top"/> -->
      <p class="sidepanel-text-sm">Local Farming, Healthy Eating</p>
  </div>

<%= yield %>


<!-- jQuery -->
<script src="assets/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Panel JavaScript -->
<script src="http://code.jquery.com/jquery-[latest].min.js"></script>
<script src="assets/slidereveal.js"></script>

</body>
</html>
